
@{
    ViewBag.Title = "Đặt phòng thành công";
    Layout = "~/Views/Shared/_LayoutDatphong.cshtml";
}

<div class="col-4"></div>
<div class="col-4">
    <h2>Đặt phòng thành công!</h2>

    <h3>
        Trong vòng 3 ngày, kể từ thời điểm đặt phòng thành công. Quý khách vui lòng đến trực tiếp địa chỉ
        <i>133 Dương Vân Nga, phường Vĩnh Hải, tp Nha Trang</i> để tham khảo phòng.
        <br />
        Sau 3 ngày, nếu quý khách không đến, hệ thống sẽ hủy phòng đã đặt! Xin cảm ơn.
    </h3>
</div>
<div class="col-4"></div>


