@model IEnumerable<QLTHUETRO_BAOOANH.Models.PHONGTRO>

@{
    ViewBag.Title = "Phòng đã phân loại";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h3 style="text-align:center; color:black;margin-top:20px">DANH SÁCH PHÒNG ĐÃ PHÂN LOẠI</h3>

<div class="row">
    @foreach (var phong in Model)
    {
        <div class="col-sm-4 col-lg-4 col-md-4" >
            <div class="thumbnail" style="height:320px">
                <a href="@Url.Action("Details", "PHONGTRO_60131724", new { id = phong.MaPT })">
                    <img alt="@phong.MaPT" src="~/images/phongtro/@phong.AnhPT" width="200" style="height:250px"/>
                    <span style="padding-top:10px">@phong.TiecIch</span>
                </a>
                <div class="ratings" style="padding-top:15px">
                    <p class="pull-right">15 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>

            </div>
        </div>
    }
</div>

