
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutChinh.cshtml";
}

<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="#page-top">
            @*<img src="~/images/logo.png" alt="..." />*@
            <h3><i>Trọ Giá Tốt</i></h3>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0" id="bs-example-navbar-collapse-1">
                <li class="nav-item">
                    <a class="nav-link" href="#services">Giới thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">Hành trình của chúng tôi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Liên hệ &nbsp;&nbsp;|</a>
                </li>
                
                <li class="nav-item" style="margin-top:6px;">
                    @Html.ActionLink("Danh mục phòng", "../PHONGTRO_60131724/danhsach", new { @class = "a" })
                </li>

                <li class="nav-item" style="margin-top:6px;text-decoration:underline">
                    <a style="color:#fff">@Html.ActionLink("Quản trị", "../Admin_60131724/login", new { @class = "a" })</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<!--banner-->
<header class="masthead">
    <div class="container" style="margin-top:-30px;margin-bottom:-100px">
        <div class="row" >
            <div class="col-sm-6 col-6 col-lg-6" style="margin-top:20px">
                <div class="masthead-subheading">Thuê trọ giá rẻ</div>
                <div class="masthead-heading text-uppercase" style="font-size:60px">Tự hào là ngôi nhà thứ hai của bạn</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="#services">xem thêm</a>
            </div>
            <div class="col-6">
                <img src="~/images/head_right.jpg" alt="" style="background-size:100%;height:550px;width:440px"  />
            </div>
        </div>
    </div>

    @*<div class="container">
        <div class="masthead-subheading">Thuê trọ giá rẻ</div>
        <div class="masthead-heading text-uppercase">Tự hào là ngôi nhà thứ hai của bạn</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#services">xem thêm</a>
    </div>*@
</header>


<!-- giới thiệu-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Giới thiệu</h2>
            <h3 class="section-subheading text-muted">Tự hào là ngôi nhà thứ hai của bạn.</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Uy tín và kinh nghiệm</h4>
                <p class="text-muted">Với hơn 10 năm kinh doanh mô hình trọ, chúng tôi tự tin mang đến cho bạn một không gian sống lành mạnh, tiện nghi nhất có thể.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Sự lựa chọn đúng đắn</h4>
                <p class="text-muted">Địa hình ổn thỏa, gần trung tâm thành phố, gần các khu vực ăn uống, mua sắm. Tiện lợi cho việc sinh hoạt hằng ngày.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">An ninh tuyệt đối</h4>
                <p class="text-muted">Hệ thống chống trộm với hai lớp cổng ra vào, mang lại an toàn tuyệt đối cho khách hàng.</p>
            </div>
        </div>
    </div>
</section>
<!-- quảng cáo phòng trọ-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Đáp ứng đầy đủ nhu cầu của bạn.</h2>
            <h3 class="section-subheading text-muted">Lựa chọn của bạn là niềm vui chung của chúng tôi.</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/images/phongtro/san.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Bãi đỗ xe</div>
                        <div class="portfolio-caption-subheading text-muted">Park</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 2-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img style="width:600px;height:269px" class="img-fluid" src="~/images/phongtro/p8.jpg"  alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Phòng rộng rãi</div>
                        <div class="portfolio-caption-subheading text-muted">Motel room</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img style="width:600px;height:269px" class="img-fluid" src="~/images/camera.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Camera an ninh</div>
                        <div class="portfolio-caption-subheading text-muted">CCTV</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- hành trình của chúng tôi-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Hành trình của chúng tôi</h2>
            <h3 class="section-subheading text-muted">Hơn 10 năm xây dựng và phát triển.</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/images/ht1.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2007-2011</h4>
                        <h4 class="subheading">Giai đoạn đầu đưa hệ thống vào kinh doanh</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Thời đó, công nghệ internet chưa phát triển, không có công cụ hỗ trợ quảng bá. Khách hàng biết đến rất ít và hầu như không có người đến thuê.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/images/assets/img/about/2.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Cuối 2011 - Đầu 2015 </h4>
                        <h4 class="subheading">Trải qua từng năm không ngừng cải thiện chất lượng</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Bắt đầu có khách hàng tìm đến và thuê lâu dài.</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/images/ht3.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2015 - Cuối 2019</h4>
                        <h4 class="subheading">Đi vào hoạt động ổn định</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Khách hàng gắn bó lâu dài và đánh giá tích cực về dãy trọ, giới thiệu nhiều bạn bè đến thuê và sinh sống.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/images/ht4.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2020 đến nay</h4>
                        <h4 class="subheading">Bổ sung đội ngũ nhân lực</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Đội ngũ nhân lực năng động, chất lượng giúp công việc của doanh nghiệp dễ dàng xử lí hơn. Chúng tôi luôn cố gắng phát triển, mang đến sự hài lòng cho khách hàng.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4 style="margin-top:15px">
                        Hãy là 
                        <br />
                        một phần
                        <br />
                        câu chuyện
                        <br />
                        của chúng tôi!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- Clients-->
<div class="py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!">
                    <img class="img-fluid img-brand d-block mx-auto" src="~/images/assets/img/logos/microsoft.svg" alt="..." aria-label="Microsoft Logo" />
                </a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!">
                    <img class="img-fluid img-brand d-block mx-auto" src="~/images/assets/img/logos/google.svg" alt="..." aria-label="Google Logo" />
                </a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!">
                    <img class="img-fluid img-brand d-block mx-auto" src="~/images/assets/img/logos/facebook.svg" alt="..." aria-label="Facebook Logo" />
                </a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!">
                    <img class="img-fluid img-brand d-block mx-auto" src="~/images/assets/img/logos/ibm.svg" alt="..." aria-label="IBM Logo" />
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Liên hệ với chúng tôi</h2>
            <h3 class="section-subheading text-muted">Mọi ý kiến thắc mắc xin vui lòng đóng góp, chúng tôi luôn lắng nghe bạn.</h3>
        </div>
        <!-- * * * * * * * * * * * * * * *-->
        <!-- * * SB Forms Contact Form * *-->
        <!-- * * * * * * * * * * * * * * *-->
        <!-- This form is pre-integrated with SB Forms.-->
        <!-- To make this form functional, sign up at-->
        <!-- https://startbootstrap.com/solution/contact-forms-->
        <!-- to get an API token!-->
        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- Name input-->
                        <input class="form-control" id="name" type="text" placeholder="Họ và tên *" data-sb-validations="required" />
                        <div class="invalid-feedback" data-sb-feedback="name:required">Vui lòng nhập Họ tên.</div>
                    </div>
                    <div class="form-group">
                        <!-- Email address input-->
                        <input class="form-control" id="email" type="email" placeholder="Email *" data-sb-validations="required,email" />
                        <div class="invalid-feedback" data-sb-feedback="email:required">Vui lòng nhập email.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Định dạng email không đúng.</div>
                    </div>
                    <div class="form-group mb-md-0">
                        <!-- Phone number input-->
                        <input class="form-control" id="phone" type="tel" placeholder="Số điện thoại *" data-sb-validations="required" />
                        <div class="invalid-feedback" data-sb-feedback="phone:required">Vui lòng nhập số điện thoại.</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-textarea mb-md-0">
                        <!-- Message input-->
                        <textarea class="form-control" id="message" placeholder="Lời nhắn *" data-sb-validations="required"></textarea>
                        <div class="invalid-feedback" data-sb-feedback="message:required">Vui lòng nhập lời nhắn.</div>
                    </div>
                </div>
            </div>
            <!-- Submit success message-->
            <!---->
            <!-- This is what your users will see when the form-->
            <!-- has successfully submitted-->
            <div class="d-none" id="submitSuccessMessage">
                <div class="text-center text-white mb-3">
                    <div class="fw-bolder">Form submission successful!</div>
                    To activate this form, sign up at
                    <br />
                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                </div>
            </div>
            <!-- Submit error message-->
            <!---->
            <!-- This is what your users will see when there is-->
            <!-- an error submitting the form-->
            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
            <!-- Submit Button-->
            <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase disabled" id="submitButton" type="submit">Send Message</button></div>
        </form>
    </div>
</section>
<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">Copyright &copy; Đồ Án Website 2022</div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3" href="#!">Khổng Phạm Bảo Oanh</a>
                <a class="link-dark text-decoration-none" href="#!">60131724</a>
            </div>
        </div>
    </div>
</footer>




<!-- Portfolio Modals-->
<!-- Portfolio item 1 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal">
                <img src="~/images/assets/img/close-icon.svg" alt="Close modal" />
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Bãi đỗ xe</h2>
                            <p class="item-intro text-muted">Rộng rãi, dễ dàng lấy xe, không chen lấn.</p>
                            <img class="img-fluid d-block mx-auto" src="~/images/phongtro/san.jpg" alt="..." />
                            <p>Bãi đỗ xe rộng rãi, không sợ trầy xước khi lấy xe ra - vào. Sức chứa lên đến 25 chiếc.</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Chủ doanh nghiệp:</strong>
                                    Lê Văn Năng
                                </li>
                                <li>
                                    <strong>Điện thoại:</strong>
                                    0777413108
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 2 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal">
                <img src="~/images/assets/img/close-icon.svg" alt="Close modal" />
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Phòng trọ rộng rãi</h2>
                            <p class="item-intro text-muted">Với nhiều diện tích phù hợp lựa chọn của khách hàng.</p>
                            <img class="img-fluid d-block mx-auto" src="~/images/phongtro/p8.jpg" alt="..." />
                            <p>Không gian thoáng đãng, xung quanh yên tĩnh thích hợp cho không gian học và làm việc như ở nhà.</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Chủ doanh nghiệp:</strong>
                                    Lê Văn Năng
                                </li>
                                <li>
                                    <strong>Điện thoại:</strong>
                                    0777413108
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 3 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal">
                <img src="~/images/assets/img/close-icon.svg" alt="Close modal" />
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Camera chống trộm</h2>
                            <p class="item-intro text-muted">Báo động về đêm khi có người qua lại.</p>
                            <img class="img-fluid d-block mx-auto" src="~/images/camera.jpg" alt="..." />
                            <p>Camera hoạt động tự động từ 19h đêm đến sáng hôm sau, đảm bảo an toàn tài sản vật chất cho người thuê.</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Chủ doanh nghiệp:</strong>
                                    Lê Văn Năng
                                </li>
                                <li>
                                    <strong>Điện thoại:</strong>
                                    0777413108
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close 
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="~/Scripts/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>


