
@{
    ViewBag.Title = "Hệ thống quản lý nội bộ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    </head>
<body>

    <h2 style="text-align:center;margin-bottom:30px">TRANG QUẢN LÝ CỦA ADMIN</h2>

        <div class="container">
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="~/images/phongtro/san.jpg" width="320px" height="300px"/>
                    <h4 class="my-3">Uy tín và kinh nghiệm</h4>
                    <p class="text-muted">Bãi đỗ xe rộng rãi, không chen chút.</p>
                </div>
                <div class="col-md-4">
                    <img src="~/images/phongtro/hanhlang.jpg" width="300px" height="300px" />
                    <h4 class="my-3">Sự lựa chọn đúng đắn</h4>
                    <p class="text-muted">Hành lang rộng, phân chia đều các phòng.</p>
                </div>
                <div class="col-md-4">
                    <img src="~/images/phongtro/san.jpg" width="300px" height="300px" />
                    <h4 class="my-3">An ninh tuyệt đối</h4>
                    <p class="text-muted">Hệ thống chống trộm với hai lớp cổng ra vào, mang lại an toàn tuyệt đối cho khách hàng.</p>
                </div>
            </div>
        </div>
</body>
</html>
